---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import ServiciosSlider from "../components/ServiciosSlider.astro";
import Clientes from "../components/Clientes.astro";
import HeroInicio from "../components/HeroInicio.astro";
import QuienesSomos from "../components/QuienesSomos.astro";
import Trabajos from "../components/Trabajos.astro";
import Faq from "../components/Faq.astro";
import Cotizar from "../components/Cotizar.astro";
import Footer from "../components/Footer.astro";
import { localBusiness, websiteSchema } from "../lib/schema";

const jsonLd = [localBusiness(), websiteSchema()];
---

<Layout
  title="Mantención multitécnica en Santiago | Más de Chile"
  description="Hidrojet, gasfitería, cerrajería, obras civiles y emergencias 24/7 en la Región Metropolitana. Mantención multitécnica para empresas, condominios y hogares. +15.000 soluciones ejecutadas."
  jsonLd={jsonLd}
>
  <Nav />
  <main>
    <HeroInicio />
    <Clientes />
    <ServiciosSlider />
    <QuienesSomos />
    <Trabajos />
    <Faq />
    <Cotizar />
  </main>
  <Footer />
</Layout>
